#wrap {
  min-height: 100%;
  position: relative;
}
h3 {
  color: #0511f2;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-bottom: 0.8em;
}
h3:after {
  content: "";
  display: inline-block;
  width: 385px;
  height: 1px;
  margin: 8px;
  background: #0511f2;
}
.inner {
  height: 100%;
  max-width: 1440px;
  margin: auto;
}
section {
  height: 100vh;
}

/* cursor */
.cursor {
  z-index: 999;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 20px #0511f2, 0 0 60px #0511f2, 0 0 100px #0511f2;
  animation: colors 5s infinite;
}
@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.cursor:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%, -30%);
  border-radius: 50%;
}

/* top button */
.top_btn {
  position: fixed;
  bottom: 10%;
  right: 2%;
  opacity: 0;
  visibility: hidden;
  width: 45px;
  height: 45px;
  z-index: 999;
  background-repeat: no-repeat;
  background-size: 45px 45px;
  cursor: pointer;
  background-image: url(../img/top_btn.png);
}
.top_btn:hover {
  transform: scale(1.1);
}
.top_btn.active-arrow {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* nav */
#header {
  position: relative;
}
nav h1 {
  font-size: 2em;
  position: relative;
  display: inline-block;
  line-height: 1.2;
}
nav h1 a {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 600;
  display: inline-block;
  padding: 8px 16px;
}
.pulse {
  z-index: -1;
  position: absolute;
  left: 0;
}
.pulse circle {
  fill: #0511f2;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  -webkit-animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1);
  animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.pulse circle:nth-child(2) {
  fill: #efefef;
  -webkit-animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
  animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.pulse circle:nth-child(3) {
  fill: #5f66ea;
  -webkit-animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
  animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
@-webkit-keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}
nav {
  z-index: 2;
  background: rgba(247, 251, 254, 0.6);
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  padding: 0.8em;
}
nav > .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 0 0;
}

nav.sticky {
  left: 0;
  background: rgba(230, 230, 230, 0.6);
  position: fixed;
  z-index: 222;
}
nav .gnb {
  display: flex;
  width: 100%;
  max-width: 700px;
}
nav .gnb li {
  flex: 1 1 200px;
  text-align: right;
}
nav .gnb li a {
  color: #333;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  position: relative;
}
nav .gnb li a::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(5, 17, 242, 0.7);
  transform: scaleX(0);
  transition: all 0.5s;
}
.gnb li a:after {
  bottom: 0;
  transform-origin: right;
}
nav .gnb li.on a {
  font-weight: 600;
}
nav .gnb li.on a:after,
nav .gnb li a:hover::after {
  transform: scaleX(1);
}

/* main_visual */
.main_img {
  position: fixed;
  z-index: -1;
  overflow: hidden;
}
#main_visual {
  position: relative;
}
#main_visual .main_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5em;
  position: absolute;
  left: 58%;
  top: 54%;
  transform: translateY(-54%);
}
#main_visual .main_box h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 7em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
#section1 .main_box .split {
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #777777;
}
.glitch {
  position: relative;
  color: #333;
  /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #0511f2;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #5f66ea, 2px 2px #0511f2;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}
@keyframes glitch-anim {
  0% {
    clip: rect(7px, 9999px, 44px, 0);
    transform: skew(0.3deg);
  }
  5% {
    clip: rect(17px, 9999px, 11px, 0);
    transform: skew(0.05deg);
  }
  10% {
    clip: rect(10px, 9999px, 50px, 0);
    transform: skew(0.13deg);
  }
  15% {
    clip: rect(86px, 9999px, 65px, 0);
    transform: skew(0.39deg);
  }
  20% {
    clip: rect(96px, 9999px, 71px, 0);
    transform: skew(0.92deg);
  }
  25% {
    clip: rect(89px, 9999px, 79px, 0);
    transform: skew(0.92deg);
  }
  30% {
    clip: rect(74px, 9999px, 25px, 0);
    transform: skew(0.32deg);
  }
  35% {
    clip: rect(82px, 9999px, 83px, 0);
    transform: skew(0.76deg);
  }
  40% {
    clip: rect(21px, 9999px, 41px, 0);
    transform: skew(0.35deg);
  }
  45% {
    clip: rect(54px, 9999px, 65px, 0);
    transform: skew(0.81deg);
  }
  50% {
    clip: rect(99px, 9999px, 79px, 0);
    transform: skew(0.38deg);
  }
  55% {
    clip: rect(98px, 9999px, 37px, 0);
    transform: skew(0.19deg);
  }
  60% {
    clip: rect(88px, 9999px, 26px, 0);
    transform: skew(0.96deg);
  }
  65% {
    clip: rect(55px, 9999px, 66px, 0);
    transform: skew(0.28deg);
  }
  70% {
    clip: rect(23px, 9999px, 59px, 0);
    transform: skew(0.1deg);
  }
  75% {
    clip: rect(48px, 9999px, 52px, 0);
    transform: skew(0.57deg);
  }
  80% {
    clip: rect(54px, 9999px, 19px, 0);
    transform: skew(0.97deg);
  }
  85% {
    clip: rect(23px, 9999px, 76px, 0);
    transform: skew(0.77deg);
  }
  90% {
    clip: rect(47px, 9999px, 69px, 0);
    transform: skew(0.61deg);
  }
  95% {
    clip: rect(48px, 9999px, 6px, 0);
    transform: skew(0.67deg);
  }
  100% {
    clip: rect(46px, 9999px, 7px, 0);
    transform: skew(0.96deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(36px, 9999px, 64px, 0);
    transform: skew(0.16deg);
  }
  5% {
    clip: rect(54px, 9999px, 44px, 0);
    transform: skew(0.45deg);
  }
  10% {
    clip: rect(66px, 9999px, 13px, 0);
    transform: skew(0.89deg);
  }
  15% {
    clip: rect(66px, 9999px, 65px, 0);
    transform: skew(0.27deg);
  }
  20% {
    clip: rect(29px, 9999px, 49px, 0);
    transform: skew(0.5deg);
  }
  25% {
    clip: rect(48px, 9999px, 49px, 0);
    transform: skew(0.2deg);
  }
  30% {
    clip: rect(10px, 9999px, 93px, 0);
    transform: skew(0.92deg);
  }
  35% {
    clip: rect(69px, 9999px, 96px, 0);
    transform: skew(0.16deg);
  }
  40% {
    clip: rect(94px, 9999px, 3px, 0);
    transform: skew(0.89deg);
  }
  45% {
    clip: rect(97px, 9999px, 56px, 0);
    transform: skew(0.84deg);
  }
  50% {
    clip: rect(65px, 9999px, 47px, 0);
    transform: skew(0.01deg);
  }
  55% {
    clip: rect(60px, 9999px, 26px, 0);
    transform: skew(0.78deg);
  }
  60% {
    clip: rect(60px, 9999px, 47px, 0);
    transform: skew(0.45deg);
  }
  65% {
    clip: rect(18px, 9999px, 65px, 0);
    transform: skew(0.09deg);
  }
  70% {
    clip: rect(27px, 9999px, 59px, 0);
    transform: skew(0.8deg);
  }
  75% {
    clip: rect(62px, 9999px, 5px, 0);
    transform: skew(0.16deg);
  }
  80% {
    clip: rect(80px, 9999px, 86px, 0);
    transform: skew(0.48deg);
  }
  85% {
    clip: rect(93px, 9999px, 77px, 0);
    transform: skew(0.45deg);
  }
  90% {
    clip: rect(90px, 9999px, 28px, 0);
    transform: skew(0.44deg);
  }
  95% {
    clip: rect(36px, 9999px, 16px, 0);
    transform: skew(0.71deg);
  }
  100% {
    clip: rect(87px, 9999px, 20px, 0);
    transform: skew(0.54deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(2deg);
  }
  10% {
    transform: skew(5deg);
  }
  20% {
    transform: skew(4deg);
  }
  30% {
    transform: skew(1deg);
  }
  40% {
    transform: skew(2deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(5deg);
  }
  80% {
    transform: skew(2deg);
  }
  90% {
    transform: skew(0deg);
  }
  100% {
    transform: skew(2deg);
  }
}
#main_visual p {
  color: #4e4e4e;
  letter-spacing: 0.05em;
  font-size: 2em;
  line-height: 1.8em;
}
#main_visual p span {
  color: #1f1f1f;
  font-weight: 700;
}
.main_button {
  display: flex;
  align-items: center;
  gap: 1em;
}
.main_button button {
  width: 190px;
  height: 50px;
  border: 2px solid #0511f2;
  transition: 0.3s;
  background: #fff;
  cursor: pointer;
}
.main_button button span {
  color: #0511f2;
  font-size: 1.3em;
  letter-spacing: -0.03rem;
  padding: 0.5em 1em;
  display: inline-block;
}
.main_button button:hover {
  box-shadow: inset 0 -4em 0 0 #0511f2;
}
.main_button button:hover span {
  color: #fff;
}
.main_button button span:hover::after {
  content: "";
  display: inline-block;
  background: url(../img/wt_link.png) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-bottom: -2px;
}
.main_button button span:after {
  content: "";
  display: inline-block;
  background: url(../img/blue_link.png) no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-bottom: -2px;
}

/* section2 */
.aboutMe {
  margin-bottom: 2em;
  position: relative;
  margin-left: 50em;
}
.workExperience,
.mySkills {
  margin-bottom: 3em;
  position: relative;
  margin-left: 50em;
}
.aboutMe p {
  letter-spacing: -0.02em;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
.aboutMe span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #5f66ea;
}
.aboutMe .left {
  float: left;
  display: flex;
  flex-direction: column;
}
.aboutMe .right {
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 7em;
}
.mySkills h4 {
  margin-bottom: 0.5em;
}
.progress-bar {
  margin-bottom: 1em;
  position: relative;
  width: 600px;
  height: 15px;
  background-color: #efefef;
}
.progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #5f66ea;
}
.progress-bar .rate {
  font-family: "Pretendard-Regular", sans-serif;
  position: absolute;
  top: 0;
  right: -40px;
  bottom: 0;
  font-size: 1em;
  color: #0511f2;
}
.workExperience .history {
  display: flex;
  justify-content: space-between;
}
.workExperience .date span {
  display: block;
  margin-bottom: 1.2em;
  color: #555;
}
.workExperience .text p {
  margin-bottom: 1em;
  font-size: 1.1em;
}

/* section3 */
#section3 {
  height: 100%;
}
#section3 h3 {
  padding-top: 5em;
  margin-bottom: 2em;
}
.pj_desc {
  height: 500px;
  overflow: hidden;
  position: relative;
  margin-bottom: 7em;
}
.pj_desc img {
  opacity: 0;
}
.pj_desc img {
  position: absolute;
  top: 0;
  left: -5.5em;
  width: auto;
  height: 100%;
  float: left;
  transition: all 0.8s;
  -moz-transition: all 0.8s;
}
.pj_desc:hover img {
  opacity: 0.4;
}
.pj_desc .pj_hover_text h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  font-size: 3em;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.text_wrap {
  width: 90%;
  padding: 4em 0;
  margin: auto;
}
.pj_desc .pj_hover_text {
  width: 42%;
  height: 89%;
  position: absolute;
  top: 0%;
  left: 50%;
  padding: 3% 4%;
  background: #0511f2;
  /*	display: none;*/
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.4s;
}
.pj_desc:hover .pj_hover_text {
  display: block;
  color: white;
  background: #5f66ea;
  opacity: 0.8;
  left: 0px;
  top: 0px;
}
.text_bg {
  background: #efefef;
  width: 50%;
}
.pj_desc .pj_tit {
  margin-bottom: 1.5em;
  letter-spacing: 0.03em;
  font-size: 2em;
  font-weight: 700;
  font-family: "Pretendard-Regular", sans-serif;
}
.pj_desc .pj_info {
  font-size: 1em;
  margin-bottom: 3em;
}
.pj_desc .pj_info li {
  margin-bottom: 0.5em;
  display: inline-block;
}
.pj_desc .pj_info li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  margin: 0 20px;
  background: #4e4e4e;
}
.pj_desc .pj_info li:last-child:after {
  display: none;
}
.pj_desc .pj_text p {
  line-height: 1.8em;
  font-size: 1.1em;
  margin-bottom: 1.5em;
}
.pj_desc .pj_text {
  width: 50%;
  height: inherit;
  float: left;
  position: absolute;
  left: 50%;
}
.pj_btn {
  font-size: 1.2em;
  display: flex;
  gap: 8px;
}
.pj_btn a {
  background: linear-gradient(270deg, #5f66ea, #0511f2) no-repeat right bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0.5em 0.8em 0.5em 0.9em;
  margin-right: 1.5em;
  display: inline-block;
  width: 8.2em;
  font-weight: 600;
}
.pj_btn a:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: #fff;
  box-sizing: border-box;
  line-height: 30px;
  padding: 0.5em 0.8em 0.5em 0.9em;
  margin-right: 1.5em;
}
.pj_btn .arrow {
  background: url(../img/bk_next.png) no-repeat;
  background-size: 30px;
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
}
.pj_btn a:hover .arrow {
  background: url(../img/wt_next.png) no-repeat;
  background-size: 30px;
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
}
.pj_desc.pj02 .pj_text {
  width: 50%;
  height: inherit;
  position: absolute;
  right: 50%;
}
.pj04 > img {
  left: 0;
  width: 770px;
  height: 580px;
}
.pj04 .figma_btn {
  box-sizing: border-box;
  padding: 0.5em 0.8em 0.5em 0.9em;
  width: 10em;
}
.pj_desc:last-child {
  margin-bottom: 0;
}

/* section4 */
#section4 {
  position: relative;
  height: 100%;
}
#section4 h3 {
  padding-top: 5em;
}
#section4 .info_wrap {
  display: flex;
  justify-content: space-between;
  padding: 2em 0em 5em;
}
#section4 .info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
#section4 p {
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}
.contact_button {
  display: flex;
}
.contact_button button {
  margin-right: 2em;
  width: 190px;
  height: 50px;
  border: 2px solid #0511f2;
  transition: 0.3s;
  background: #fff;
  cursor: pointer;
}
.contact_button button span {
  color: #0511f2;
  font-size: 1.3em;
  letter-spacing: 0.09em;
  padding: 0.5em 1em;
}
.contact_button button:hover {
  box-shadow: inset 0 -4em 0 0 #0511f2;
}
.contact_button button:hover span {
  color: #fff;
}
.contact_button button span:hover::after {
  content: "";
  display: inline-block;
  background: url(../img/wt_link.png) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.contact_button button span:after {
  content: "";
  display: inline-block;
  background: url(../img/blue_link.png) no-repeat;
  background-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: 5px;
  margin-bottom: -2px;
}
.kakao {
  display: flex;
  flex-direction: column;
}
.kakao span {
}
.kakao img {
  width: 150px;
}
.nameCard {
  width: 740px;
}
.nameCard img {
  width: 100%;
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: #fff;
}
footer p {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
footer .w3c_valid {
  display: flex;
  justify-content: flex-end;
  margin: 1.5em;
}

/* ==========================
         MEDIA QUERY 
============================= */

/* ================ 태블릿 ~ 랩탑 ================ */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #wrap {
    width: 100%;
  }
  nav {
    width: 100%;
  }
  nav .gnb {
    justify-content: flex-end;
  }
  nav .gnb li {
    flex: none;
    margin-right: 4em;
  }
  #main_visual {
    margin-bottom: 10em;
  }
  #main_visual .main_box {
    top: 56%;
    left: 54%;
  }
  #main_visual .main_box h2 {
    margin-top: -1em;
    font-size: 4.5em;
  }
  #section1 p::before {
    margin-top: -5em;
  }
  #main_visual p {
    font-size: 1.5em;
  }
  .main_img {
    position: relative;
    top: 8em;
  }
  .main_img img {
    width: 50%;
  }
  .main_button button,
  .contact_button button {
    min-width: 12em;
    width: 100%;
  }
  .main_button button a,
  .contact_button button a {
    font-size: 1em;
  }
  .main_button button a:after,
  .main_button button a:hover::after,
  .contact_button button a:after,
  .contact_button button a:hover::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
  .aboutMe {
    margin: 0 1em;
  }
  .mySkills {
    margin: 10em 1em 0 1em;
  }
  .workExperience {
    margin: 5em 1em 0 1em;
  }
  #section3,
  #section4 {
    margin-left: 0.7em;
    margin-right: 0.7em;
  }
  .pj_desc img {
    left: -4em;
  }
  .pj02 img {
    position: absolute;
    left: -14.5em;
  }
  .pj04 img {
    position: absolute;
    left: -12.5em;
  }
  .pj_desc .pj_hover_text h2 {
    font-size: 1.7em;
  }
  .pj_desc .pj_info li {
    font-size: 0.9em;
  }
  .pj_desc .pj_text p {
    font-size: 1em;
  }
  .pj_btn {
    font-size: 1em;
  }
  .pj_btn a {
    width: 8em;
  }
  #section4 p {
    font-size: 1.1em;
  }
  #section4 .info {
    gap: 20px;
  }
  .nameCard {
    left: 28em;
    top: 7px;
  }
  .nameCard img {
    min-width: 550px;
    width: 100%;
  }
  .cursor {
    display: none;
  }
}
/* ================ 모바일 ================ */
@media screen and (min-width: 320px) and (max-width: 767px) {
  #wrap {
    width: 100%;
  }
  h3:after {
    width: 100%;
  }
  nav h1 {
    margin: 0 auto;
  }
  nav .gnb {
    display: none;
  }
  nav.sticky {
    display: none;
  }
  #main_visual .main_box {
    gap: 2em;
    top: 34%;
  }
  #main_visual .main_box h2 {
    margin-top: -3em;
    font-size: 1.8rem;
  }
  #section1 p::before {
    margin-top: -11em;
    margin-bottom: 30px;
    width: 20%;
  }
  #main_visual p {
    font-size: 1rem;
    letter-spacing: -0.03em;
  }
  .main_img {
    position: relative;
    top: 12%;
  }
  .main_img img {
    width: 50%;
  }
  .main_button {
    left: -125%;
    position: absolute;
    gap: 0;
    margin: 11.5em 0;
  }
  .main_button button,
  .contact_button button {
    min-width: 140px;
    width: 100%;
    height: 40px;
    margin-right: 1em;
  }
  .main_button button span {
    font-size: 1.2em;
  }
  .main_button button a,
  .contact_button button a {
    font-size: 0.8em;
  }
  .main_button button a:after,
  .main_button button a:hover::after,
  .contact_button button a:after,
  .contact_button button a:hover::after {
    width: 15px;
    height: 15px;
    background-size: 15px;
  }
  #section2 {
    margin-top: 7em;
  }
  .aboutMe {
    margin: -22em 1em 0 1em;
  }
  .aboutMe p {
    font-size: 1em;
  }
  .aboutMe .left,
  .aboutMe .right {
    float: none;
  }
  .mySkills {
    margin: 4em 1em 0 1em;
  }
  .progress-bar {
    width: 300px;
  }
  .workExperience {
    margin: 5em 1em 0 1em;
  }
  .workExperience .date span {
    line-height: 1.3em;
    margin-bottom: 1.6em;
    font-size: 0.9em;
    letter-spacing: 0.15em;
    height: 28px;
  }
  .workExperience .text p {
    line-height: 1.3em;
    margin-bottom: 0.8em;
    margin-left: 8px;
    font-size: 1em;
    letter-spacing: -0.01em;
    height: 38px;
  }
  #section3,
  #section4 {
    margin-left: 0.7em;
    margin-right: 0.7em;
  }
  #section3 h3,
  #section4 h3 {
    padding-top: 3em;
  }
  .pj_desc {
    padding: 12em 0;
  }
  .pj_desc .pj_hover_text {
    width: 0;
    height: 0;
    font-size: 0;
    padding: 0;
  }
  .pj_desc .pj_text,
  .pj_desc.pj02 .pj_text {
    width: 100%;
    left: 0;
    top: 50%;
  }
  .pj_desc .pj_tit,
  .pj_desc .pj_info {
    margin-bottom: 1em;
  }

  .pj_desc img {
    margin-left: 5em;
    width: 640px;
    height: 410px;
  }
  .pj02 img {
    position: absolute;
    left: -14.5em;
  }
  .pj04 img {
    position: absolute;
    left: -12.5em;
  }
  .pj_desc .pj_hover_text h2 {
    font-size: 1.7em;
  }
  .pj_desc .pj_info li {
    font-size: 0.9em;
  }
  .pj_desc .pj_text p {
    font-size: 1em;
    margin-bottom: 1em;
  }
  .pj_btn {
    font-size: 1em;
  }
  .pj_btn a {
    width: 8em;
  }
  #section4 .info_wrap {
    flex-direction: column;
    gap: 26px;
  }
  #section4 .info {
    gap: 26px;
  }
  #section4 p {
    font-size: 1em;
  }
  .kakao span {
    font-size: 1em;
  }
  .kakao img {
    width: 90px;
  }
  .nameCard {
    width: 100%;
  }
  .nameCard img {
    min-width: 330px;
  }
  .contact_button {
  }
  footer p {
    width: 100%;
    margin-left: 2em;
    margin-top: -1em;
  }
  footer .w3c_valid {
    padding: 1em 5em;
  }
  .cursor {
    display: none;
  }
  .top_btn {
    bottom: 2%;
    right: 7%;
  }
}
