* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background: url(../img/portfolio.jpg) no-repeat;
  width: 100%;
  height: 5000px;
}
ol,
ul {
  list-style: none;
}
h2 {
  display: inline-block;
  margin-left: -13em;
  font-size: 1.5em;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.h100 {
  height: 100vh;
}
.animation {
  margin-top: 31em;
  margin-left: 80em;
}
.progress-bar {
  position: relative;
  width: 540px;
  height: 20px;
  background-color: #efefef;
}
.progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #5f66ea;
}

.progress-bar .rate {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  line-height: 30px;
  font-size: 1.2em;
  color: #0511f2;
}
