* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  overflow-x: hidden;
}
body,
#section3,
#section4,
h3 {
  background: #f7fbfe;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
h3 {
  color: #0511f2;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
}
h3:after {
  content: "";
  display: inline-block;
  width: 500px;
  height: 1px;
  margin: 8px;
  background: #0511f2;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
}
section {
  margin: auto;
  min-height: 100vh;
}

/* nav */
#header {
  position: relative;
}
nav h1 {
  position: absolute;
  left: 3.5%;
}
nav {
  position: absolute;
  top: 0;
  z-index: 2;
  background: rgba(247, 251, 254, 0.6);
  padding: 1em 37em;
  width: 100%;
}
nav.sticky {
  background: rgba(230, 230, 231, 0.7);
  position: fixed;
  z-index: 222;
}
nav .gnb {
  display: flex;
  width: 100%;
  max-width: 700px;
  margin: auto;
}
nav .gnb li {
  flex: 1 1 200px;
}
nav .gnb li a {
  color: #333;
  display: inline-block;
  padding: 0.2rem;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  position: relative;
}
nav .gnb li a::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  transform: scaleX(0);
  transition: all 0.5s;
}
.gnb li a:after {
  bottom: 0;
  transform-origin: right;
}
nav .gnb li.on a:after,
nav .gnb li a:hover::after {
  transform: scaleX(1);
}

/* main_visual */
#main_visual {
  position: relative;
}
#main_visual h2 {
  letter-spacing: 0.1em;
  font-weight: 900;
  font-size: 8em;
  position: absolute;
  top: 30%;
  left: 50%;
}
#main_visual p {
  letter-spacing: 0.05em;
  font-size: 2em;
  line-height: 1.8em;
  position: absolute;
  top: 50%;
  left: 50%;
}
#main_visual p span {
  font-weight: 700;
}
.main_button {
  position: relative;
  top: 700px;
  left: 50%;
}
.main_button button {
  margin-right: 2em;
  width: 180px;
  height: 50px;
  background-color: #0511f2;
}
.main_button button a {
  color: #fff;
  font-size: 1.3em;
  letter-spacing: 0.09em;
}
.main_button button:hover {
  background: #fff;
  border: 1px solid #0511f2;
}
.main_button button a:hover {
  color: #0511f2;
}
.main_button button a:hover::after {
  content: "";
  display: inline-block;
  background: url(../img/link_blue.png) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.main_button button a:after {
  content: "";
  display: inline-block;
  background: url(../img/link.png) no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* img_glich */
.img_glich {
  margin-left: 6.5em;
  position: fixed;
  z-index: -1;
}
.glitch-hover {
  display: inline-block;
  overflow: hidden;
  filter: contrast(100%);
}
.glitch-hover > img:nth-child(2),
.glitch-hover > img:nth-child(3) {
  position: absolute;
  top: 0px;
  left: 0px;
}
@-webkit-keyframes example-three-anim-1 {
  /* 0% {
    clip: rect(9px, 640px, 286px, 0);
  }
  4% {
    clip: rect(247px, 640px, 126px, 0);
  }
  8% {
    clip: rect(192px, 640px, 273px, 0);
  }
  12% {
    clip: rect(309px, 640px, 231px, 0);
  }
  16% {
    clip: rect(166px, 640px, 25px, 0);
  }
  20% {
    clip: rect(314px, 640px, 179px, 0);
  }
  24% {
    clip: rect(214px, 640px, 263px, 0);
  }
  28% {
    clip: rect(2px, 640px, 261px, 0);
  }
  32% {
    clip: rect(198px, 640px, 1px, 0);
  }
  36% {
    clip: rect(203px, 640px, 95px, 0);
  }
  40% {
    clip: rect(241px, 640px, 67px, 0);
  }
  44% {
    clip: rect(82px, 640px, 2px, 0);
  }
  48% {
    clip: rect(266px, 640px, 210px, 0);
  } */
  52% {
    clip: rect(214px, 640px, 276px, 0);
  }
  56% {
    clip: rect(304px, 640px, 36px, 0);
  }
  60% {
    clip: rect(227px, 640px, 4px, 0);
  }
  64% {
    clip: rect(305px, 640px, 302px, 0);
  }
  68% {
    clip: rect(218px, 640px, 157px, 0);
  }
  72% {
    clip: rect(154px, 640px, 17px, 0);
  }
  76% {
    clip: rect(231px, 640px, 310px, 0);
  }
  80% {
    clip: rect(99px, 640px, 252px, 0);
  }
  84% {
    clip: rect(295px, 640px, 5px, 0);
  }
  88% {
    clip: rect(31px, 640px, 272px, 0);
  }
  92% {
    clip: rect(300px, 640px, 74px, 0);
  }
  96% {
    clip: rect(128px, 640px, 136px, 0);
  }
  100% {
    clip: rect(311px, 640px, 214px, 0);
  }
}
@keyframes example-three-anim-1 {
  /* 0% {
    clip: rect(9px, 640px, 286px, 0);
  }
  4% {
    clip: rect(247px, 640px, 126px, 0);
  }
  8% {
    clip: rect(192px, 640px, 273px, 0);
  }
  12% {
    clip: rect(309px, 640px, 231px, 0);
  }
  16% {
    clip: rect(166px, 640px, 25px, 0);
  }
  20% {
    clip: rect(314px, 640px, 179px, 0);
  }
  24% {
    clip: rect(214px, 640px, 263px, 0);
  }
  28% {
    clip: rect(2px, 640px, 261px, 0);
  }
  32% {
    clip: rect(198px, 640px, 1px, 0);
  }
  36% {
    clip: rect(203px, 640px, 95px, 0);
  }
  40% {
    clip: rect(241px, 640px, 67px, 0);
  }
  44% {
    clip: rect(82px, 640px, 2px, 0);
  }
  48% {
    clip: rect(266px, 640px, 210px, 0);
  } */
  52% {
    clip: rect(214px, 640px, 276px, 0);
  }
  56% {
    clip: rect(304px, 640px, 36px, 0);
  }
  60% {
    clip: rect(227px, 640px, 4px, 0);
  }
  64% {
    clip: rect(305px, 640px, 302px, 0);
  }
  68% {
    clip: rect(218px, 640px, 157px, 0);
  }
  72% {
    clip: rect(154px, 640px, 17px, 0);
  }
  76% {
    clip: rect(231px, 640px, 310px, 0);
  }
  80% {
    clip: rect(99px, 640px, 252px, 0);
  }
  84% {
    clip: rect(295px, 640px, 5px, 0);
  }
  88% {
    clip: rect(31px, 640px, 272px, 0);
  }
  92% {
    clip: rect(300px, 640px, 74px, 0);
  }
  96% {
    clip: rect(128px, 640px, 136px, 0);
  }
  100% {
    clip: rect(311px, 640px, 214px, 0);
  }
}
@-webkit-keyframes example-three-anim-2 {
  /* 0% {
    clip: rect(134px, 640px, 153px, 0);
  }
  4% {
    clip: rect(18px, 640px, 32px, 0);
  }
  8% {
    clip: rect(305px, 640px, 206px, 0);
  }
  12% {
    clip: rect(133px, 640px, 249px, 0);
  }
  16% {
    clip: rect(174px, 640px, 212px, 0);
  }
  20% {
    clip: rect(202px, 640px, 85px, 0);
  }
  24% {
    clip: rect(38px, 640px, 223px, 0);
  }
  28% {
    clip: rect(46px, 640px, 293px, 0);
  }
  32% {
    clip: rect(6px, 640px, 51px, 0);
  }
  36% {
    clip: rect(179px, 640px, 77px, 0);
  }
  40% {
    clip: rect(93px, 640px, 227px, 0);
  }
  44% {
    clip: rect(257px, 640px, 150px, 0);
  }
  48% {
    clip: rect(299px, 640px, 120px, 0);
  }
  52% {
    clip: rect(31px, 640px, 130px, 0);
  } */
  56% {
    clip: rect(205px, 640px, 184px, 0);
  }
  60% {
    clip: rect(154px, 640px, 254px, 0);
  }
  64% {
    clip: rect(275px, 640px, 48px, 0);
  }
  68% {
    clip: rect(269px, 640px, 168px, 0);
  }
  72% {
    clip: rect(103px, 640px, 62px, 0);
  }
  76% {
    clip: rect(272px, 640px, 224px, 0);
  }
  80% {
    clip: rect(314px, 640px, 302px, 0);
  }
  84% {
    clip: rect(212px, 640px, 166px, 0);
  }
  88% {
    clip: rect(151px, 640px, 59px, 0);
  }
  92% {
    clip: rect(244px, 640px, 256px, 0);
  }
  96% {
    clip: rect(60px, 640px, 107px, 0);
  }
  100% {
    clip: rect(32px, 640px, 148px, 0);
  }
}
@keyframes example-three-anim-2 {
  0% {
    clip: rect(134px, 640px, 153px, 0);
  }
  4% {
    clip: rect(18px, 640px, 32px, 0);
  }
  8% {
    clip: rect(305px, 640px, 206px, 0);
  }
  12% {
    clip: rect(133px, 640px, 249px, 0);
  }
  16% {
    clip: rect(174px, 640px, 212px, 0);
  }
  20% {
    clip: rect(202px, 640px, 85px, 0);
  }
  24% {
    clip: rect(38px, 640px, 223px, 0);
  }
  28% {
    clip: rect(46px, 640px, 293px, 0);
  }
  32% {
    clip: rect(256px, 640px, 351px, 0);
  }
  36% {
    clip: rect(179px, 640px, 377px, 0);
  }
  40% {
    clip: rect(93px, 640px, 527px, 0);
  }
  44% {
    clip: rect(257px, 640px, 450px, 0);
  }
  48% {
    clip: rect(299px, 640px, 120px, 0);
  }
  52% {
    clip: rect(31px, 640px, 330px, 0);
  }
  56% {
    clip: rect(205px, 640px, 184px, 0);
  }
  60% {
    clip: rect(154px, 640px, 254px, 0);
  }
  64% {
    clip: rect(275px, 640px, 48px, 0);
  }
  68% {
    clip: rect(269px, 640px, 168px, 0);
  }
  72% {
    clip: rect(103px, 640px, 462px, 0);
  }
  76% {
    clip: rect(272px, 640px, 524px, 0);
  }
  80% {
    clip: rect(314px, 640px, 502px, 0);
  }
  84% {
    clip: rect(212px, 640px, 766px, 0);
  }
  88% {
    clip: rect(151px, 640px, 559px, 0);
  }
  92% {
    clip: rect(244px, 640px, 856px, 0);
  }
  96% {
    clip: rect(60px, 740px, 507px, 0);
  }
  100% {
    clip: rect(32px, 640px, 900px, 0);
  }
}
/* .glitch-hover > img:nth-child(2),
.glitch-hover:hover > img:nth-child(3) {
  clip: rect(0, 0, 0, 0);
}
.glitch-hover > img:nth-child(2) {
  left: 2px;
  -webkit-animation: example-three-anim-1 2s infinite linear alternate-reverse;
  animation: example-three-anim-1 2s infinite linear alternate-reverse;
}
.glitch-hover > img:nth-child(3) {
  left: -2px;
  -webkit-animation: example-three-anim-2 3s infinite linear alternate-reverse;
  animation: example-three-anim-2 3s infinite linear alternate-reverse;
}
.figure-item {
  display: inline-block;
  max-width: 320px;
} */

/* section2 */
#section2 .inner {
  position: absolute;
  left: 50%;
}
.aboutMe,
.workExperience,
.mySkills {
  margin-bottom: 3em;
  position: relative;
}
.aboutMe p {
  line-height: 1.8em;
  margin-bottom: 1em;
}
.aboutMe span {
  font-weight: 700;
  color: #5f66ea;
}
.aboutMe .left {
  float: left;
  display: flex;
  flex-direction: column;
}
.aboutMe .right {
  float: right;
  display: flex;
  flex-direction: column;
  margin-right: 7em;
}
.progress-bar {
  margin-bottom: 1em;
  position: relative;
  width: 600px;
  height: 20px;
  background-color: #efefef;
}
.progress-bar .bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  background: #5f66ea;
}
.progress-bar .rate {
  position: absolute;
  top: 0;
  right: -40px;
  bottom: 0;
  font-size: 1em;
  color: #0511f2;
}
.workExperience .date {
  float: left;
}
.workExperience .date span {
  display: block;
  margin-bottom: 1em;
}
.workExperience .text {
  float: right;
}
.workExperience .text p {
  margin-bottom: 1em;
}

/* content_wrap */
#section3 h3 {
  padding-top: 3em;
}
/* footer */
footer {
  width: 100%;
  height: 80px;
  background: #efefef;
  position: relative;
}
footer p {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
